*, *::before, *::after {
    box-sizing: border-box;
}

html {
    --bg-color: #2f4f4f;
    --bg-alt-color: #0E3232;
    --font-color: #D3C2A1;
    background-color: var(--bg-color);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    color: var(--font-color);
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    box-shadow: 0px 14px 15px -3px rgba(0,0,0,0.1);
}

h1, p {
    text-align: center;
}

.img-container, .text-container {
    width: 500px;
    margin: 2rem auto;
}

.img-container {
    border: 0.3rem solid var(--bg-alt-color);
    padding: 0.5rem;
}

.nav-top {
    background-color: var(--bg-alt-color);
    padding: 1rem;
    margin: 0;
    width: 100%;
    text-align: center;
}

.nav-link {
    padding: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    color: var(--font-color);
}

.nav-link:hover {
    color: #544018;
}